{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="panel panel-info">  
            <div class="panel-heading">Cuadro comparativo del total de estudiantes aceptados para el servicio social por carrera</div>
            <div class="panel-body text-center" >                 
                    <div class="divParam">
                        <p>Parámetros necesarios para generar el reporte</p>
                        <table class="tablaCent">
                            <tr class="text-center">
                                <td width="25%">
                                    <select>
                                        <option selected>Seleccione un período</option>
                                        <option value="1">Período 1</option>
                                        <option value="2">Período 2</option>
                                    </select>
                                </td>
                                 <td width="25%">
                                    <select>
                                        <option selected>Seleccione una universidad</option>                                        
                                    </select>
                                </td>
                                <td width="25%">
                                    <select>
                                        <option selected>Seleccione una carrera</option>                                        
                                    </select>
                                </td>
                                <td width="28%">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-default">Generar Reporte</button>
                                    </div>
                                </td>
                            </tr>
                        </table>                      
                    </div>                                
            </div>
            <br />
            <br />
        </div>
    </div>     
{% endblock %}  
