{% extends '::base.html.twig' %}

{% block body -%}
    {{form_start(form)}}
    <div class="container">
        <div class="panel panel-info">  
            <div class="panel-heading">Informe de plazas remuneradas y ad-honorem de estudiantes por region, universidad y carrera</div>
            <div class="panel-body text-center" >
                <div class="divParam">
                    <p>Parámetros necesarios para generar el reporte</p>
                    <table class="tablaCent">
                        <tr class="text-left" height="25%">
                            <td width="25%">
                                 <div> 
                                <select>
                                    <option selected>Seleccione un período</option>
                                    <option value="1">Período 1</option>
                                    <option value="2">Período 2</option>
                                </select>
                                </div>  
                            </td>
                            <td>
                                <div class="text-center"> 
                                <select>
                                    <option selected>Seleccione una Region</option>
                                    <option value="1">Region 1</option>
                                    <option value="2">Region 2</option>  
                                    <option value="1">Region 3</option>
                                    <option value="2">Region 4</option> 
                                    <option value="2">Region 5</option> 
                                    
                                </select> 
                                 
                               </div>   
                            </td>
                            <td>
                                <div class="text-center"> Carrera <br>                              
                                <input type="radio" name="carrera" id="carrera" value="M" class="left"/>Medicina
                                <input type="radio" name="carrera" id="carrera" value="O" class="left"/>Odontología  
                                </div> 
                            </td> 
                            
                            
                        </tr>   
                        
                        <tr class="text-left" height="25%">
                            <td width="25%">
                                    
                            </td>   
                        </tr>    
                        
                        </table>  
                       <br>  
                        <tr class="text-left" height="25%">
                            <td width="25%">
                               <div class="text-center">   
                                {{form_widget(form.selectuniv)}} 
                               </div>   
                               
                               <br> 
                                {{form_widget(form.enviar)}} 
                            </td>    
                            
                        </tr>   
                                      
                </div>                             
            </div>
        </div>
    </div>  
                       
  {{form_end(form)}}                       
{% endblock %}  

