{% extends '::base.html.twig' %}

{% block body -%}
    <div class="container">
        <div class="panel panel-info">  
            <div class="panel-heading">Reporte del número de estudiantes aprobados para realizar el servicio social, por carrera y universidad</div>
            <div class="panel-body text-center" >                   
               
                <p>El id que se obtuvo fue  </p>  <br /> 
                {{varCarInstId}}<br />
              
                        <a href="{{url('minsal_si_gminsal_sig_aprobados')}}"> Regresar </a>          
                <br />
                <br />            
            </div>
                  
        </div>
    </div>     
{% endblock %} 
