{% extends '::base.html.twig' %}

{% block body -%}
   {{form_start(form)}}
    <div class="container">
        <div class="panel panel-info">  
            <div class="panel-heading">Cuadro estadístico de los resultados de la prueba de conocimiento por carrera</div>
            <div class="panel-body text-center" >
                <div class="divParam">
                    <p>Parámetros necesarios para generar el reporte</p>
                    <table class="table-param" width="20%">                    
                                                
                        <tr>                             
                            {{form_widget(form.selectcarr)}}
                        </tr>
                        <br />                                        
                        
                        <tr>
                            {{form_widget(form.enviar)}}
                        </tr>
                            
                    </table>                      
                </div>                             
            </div>
        </div>
    </div>
   {{form_end(form)}}
{% endblock %}  