{% extends '::base.html.twig' %}

{% block body -%}
    
        <div class="panel panel-info">  
           
            <div class="panel-body text-center" >    
                <img src="{{asset('images/Encabezado_reportes.png')}}">
                <p>Reporte de mejor CUM por carrera y universidad</p>
                <br />
                <br />
                <table class="table table-striped table-hover table-condensed" border="1">
                    <thead class="table-param">
                    <tr align="center">
                      <th class="table-header" rowspan="2" align="center" >Universidad</th>
                      <th class="table-header" colspan="15" align="center">Carrera</th>                      
                    </tr>
                    <tr>
                        {%for cars in carrera%}
                          <th>{{cars.nombre}}</th>    
                        {% endfor%}                      
                    </tr>                    
                    </thead>
                    <tbody class="table-param">                      
                            <tr>
                                <th>{{nomUniv.nombre}}</th>
                                <!--Hay que hacer un for (para cada col dentro de fla), para cada registro en carrera_institucion
                                y comparar si el id_inst_carrera recuperado es igual al de la tabla se imprime el valor obtenido, 
                                caso contrario se imprime 0-->
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>
                                <th>1</th>    
                                <th>1</th>    
                            </tr>                           
                    
                    </tbody>
                    
                          
                   
                               
              
                </table> 
                    <a href="{{url('minsal_si_gminsal_sig_cum')}}"> Regresar </a>          
                <br />
                <br />            
            </div>
                  
        </div>
    
{% endblock %} 
